body{
    background-color:#1A5B35 ;
}
h1{
    font-family: "Campanella";
    color:#CEB076;
    font-size: 75px;
}
p{
    font-family: "Gilroy";
    color:#FFFFFF;
    font-size: 20px;
}
.block{
  background-image: url("img/group.png");
  background-repeat: no-repeat;
}
.block-2{
    background-image: url("img/img.png");
  background-repeat: no-repeat;
  background-size: ;
}
.main img{
    margin-top: 30px;
}
@font-face {
    font-family: "Campanella"; 
    src: url("fonts/Campanella.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "Gilroy"; 
    src: url("fonts/Gilroy-Light.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
